@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';
@import './sections/skills';
@import './sections/education';

@import './vendor/css/font-awesome.min.css';

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousal-caption{
    opacity: 0.8;
    background-Color: #7F00FF;
    background-image: linear-gradient(135deg, #7F00FF 0%, #E100FF 100%);
    color: white;
}
